@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-bg: #00030C;
    --cor-botao: #167BF7;
    --fonte-principal: "Inter", sans-serif;
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-bg);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center ;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--cor-botao);
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 1em;
    border-radius: 0.3125rem;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-bg);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-primaria)
}

.botao_secundario:hover{
    color: var(--cor-primaria);
    background-color: rgba(255, 255, 255, 0.12);
}

.container__aviso {
    font-size: 0.75rem;
    padding-left: 1.5rem;
    color: var(--cor-secundaria);   
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 70%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--cor-primaria);
    margin-bottom: 0.1em;

}

.descricao__texto {
    color: var(--cor-secundaria);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1.2em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--cor-primaria);
}

.lista__item {
    font-size: 2rem;
    color: var(--cor-primaria);
}

.rodape {
    text-align: center;
}

.logo {
    margin-bottom: 2em;
}

.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.lista__link {
    color: var(--cor-secundaria);
    margin: 0.5em;
}

.lista__link a:hover {
    color: #22d4fd;
}

.lista__link a:active {
    color:  var(--cor-botao);
}

.rodape__links {
    font-size: 1rem;
    color: var(--cor-primaria);
    text-decoration: none;
}

.rodape__texto {
    font-size: 0.9rem;
    color: var(--cor-secundaria);
    margin: 1.5em 0;
}